{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "import"
  ],
  "rules": {
    no-console: 0,
    global-require: 0,
    import/no-dynamic-require: 0,
    import/no-unresolved: 0,
    import/no-extraneous-dependencies: 0,
    import/extensions: 0
  }
}
